Docker and Rabbit MQ needed

For RabbitMQ command is :-
docker run -it --rm --name rabbitmq -p 5672:5672 -p 15672:15672 rabbitmq:3-management

12 factor process
https://12factor.net/admin-processes

Docker commands
docker build -t boot . (In the folder of Dockerfile and jar file)
docker run -p 9090:9090 boot

